.header__container {
    height:100vh;
    display: grid;
    align-items: flex-end;
    padding: 0 50px 0 70px;
    position: relative;
}
.header__section {
    display: flex;
    align-items:flex-end;
}
.header__title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin:0;
}
.header__title2 {
    margin-left: 180px;
    margin-top:-30px;
}
.header__title-symbol {
    font-family:'Times New Roman', Times, serif;
    opacity: 20%;
    font-weight:400;
    font-size: 26rem;
    margin-bottom: -80px;
    margin-left: -230px;

}
.square {
    height:30px;
    width:30px;
    color:#ffffff;
    border: 3px solid #ffffff;
}
.header__title-designer {
    display:flex;
}
.header__title-designer .square {
    margin-right: 50px;
    margin-top: 30px;;
}
.header__title-developer {
    display:flex;
    align-items: flex-end;
}

.header__skills-list li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #dfdfdf;
    font-weight:300;
    line-height:2em;
}
.header__skills-subtitle {
    opacity:60%;
    margin-bottom: 40px;
}
.header__skills-list {
    padding-left:0;
}
.header__bottom-right {
    border-left: 1px dashed #ffffff60;
    display: flex;
    justify-content: center;
}

.header__image-dots-grid {
    position: absolute;
    top:0;
    left:0;
}
.header__image-plus-grid {
    position: absolute;
    right:0;
    top: 30%;
}

/* MEDIA QUERIES */
@media (max-width:767px) {
    .header__title,
    .header__title2 {
        font-size: 4rem;
    }
    .header__container {
        height:100vh;
        align-items: center;
        padding: 0 20px;
    }
    .header__skills {
        display:flex;
        flex-direction: column;
    }
    .header__bottom-right {
        border:none;
    }
    .square {
        height:20px;
        width:20px;
        color:#ffffff;
        border: 2px solid #ffffff;
    }
    .header__title-designer .square {
        margin-right: 50px;
        margin-top: 15px;
    }
    .header__section {
        margin-bottom: 50px;
    }
    .header__title2 {
        margin-left: 120px;
        margin-top:-15px;
    }
    .header__title-symbol {
        font-size: 20rem;
        margin-bottom: -70px;
        margin-left: -190px;
    
    }
    .header__image-plus-grid {
        top: 70%;
        left:80%;
    }
    .header__image-dots-grid {
        right:80%;
        top: -15%;
    }

}

